body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.top-nav {
    display: flex;
    justify-content: flex-end;
    background-color: #bbe7ff;
    opacity: 1;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

    .top-nav a {
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 16px;
        margin: 0 10px;
        font-weight: bold;
    }

h2 {
    margin-top: 120px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    gap: 30px; /*水平间距*/
    row-gap: 120px; /*垂直间距*/
    justify-content: center;
    margin-top: 20px;
}

.grid-item1 {
    width: 180px;
    height: 120px;
    background-color: #bbe7ff;
    /*background-image: url(../ico/PS.png);*/
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

    .grid-item1 ul {
        text-decoration: none;
        color: black;
        font-size: 12px;
        list-style-type: none;
        margin-top: 260px;
        width: 180px;
        height: 100px
    }

    .grid-item1 ul li {
        margin: 2px;
        margin-left:-35px;
        list-style: none;

        
    }
.centered-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 26px;
    font-weight: bold;
}



.footer {
    height: 80px;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px; /* Add margin-top to create space between footer and content */
}
